<%- include('../components/header.ejs', { _pageIdentifier_: 'page-forgot-password' }) %>

    <section>
        <form id="forgot-password">
            <label for="email">Email adress</label>
            <input type="email" name="email">
            <input type="submit" value="Send reset password email">
        </form>
    </section>

    <%- include('../components/footer.ejs') %>
