<%- include('../components/header.ejs', {
    _pageTitle_: 'Forgot password',
    _pageIdentifier_: 'page-forgot-password'
}) %>

    <section class="auth bloc-full">
        <div class="container">

            <h1>Forgot password</h1>
            
            <form id="forgot-password">
                <label for="email">Email adress</label>
                <input type="email" name="email" id="email" placeholder="Enter your email adress" required>

                <input type="submit" value="Send reset password email">
            </form>

        </div>
    </section>

    <%- include('../components/footer.ejs', {
        _staticFiles_: {
            scripts: [
                'auth/forgotPassword.js'
            ]
        }
    }) %>