<%- include('../components/header.ejs', {
    _pageIdentifier_: 'page-reset-password',
    _staticFiles_: {
        scripts: [
            'auth/resetPassword.js'
        ]
    }
}) %>

    <section>
        <form id="reset-password">
            <label for="password">Password</label>
            <input type="password" required minlength="6" name="password">
            <label for="passwordConfirm">Password confirmation</label>
            <input type="password" required minlength="6" name="passwordConfirm" autocomplete="new-password">
            <input type="submit" value="Reset password">
        </form>
    </section>

    <%- include('../components/footer.ejs') %>
