.auth {
  form {
    margin: s(2) 0;
    label {
      font-size: f(0.9);
      margin-bottom: s(0.5);
    }
    input {
      -webkit-appearance: none;
      appearance: none;
      vertical-align: middle;
      color: inherit;
      font: inherit;
      margin: 0;
      outline: 0;
      text-align: inherit;
      width: 100%;
      margin-bottom: s(1);
      padding: s(1);
      border-radius: 6px;
      border: 1px solid $c-white;
      box-shadow: none;
      appearance: none;
      &::placeholder {
        color: $c-darkGray;
        font-family: $f-text;
      }
      &:focus {
        border: 1px solid $c-primary;
      }
      button {
        margin: s(1) 0 0;
      }
    }
  }
  p {
    &:not(:last-of-type) {
      margin-bottom: s(0.5);
    }
    a {
      color: $c-primary;
    }
  }
}
