.activeModal {
  .speedometer {
    display: none;
  }
  #main-menu::after {
    content: "";
    background: $c-bg;
    position: absolute;
    top: 50%;
    width: 100%;
    display: block;
    height: 100%;
    mix-blend-mode: color;
    pointer-events: none;
  }
  .modal {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  background: $c-bg;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  .container {
    height: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
    .modal-content {
      padding: 1.5rem 0 7.5rem;
    }
  }
}
