html {
    font-size: 16px;
}

body {
    font-family: $f-text;
    background: $c-bg;
    color: $c-white;
}

.container {
    width: $container;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}