    <% if (typeof _staticFiles_ !== 'undefined') {
        if (_staticFiles_.scripts?.length) {
            _staticFiles_.scripts.forEach(path => { %>

    <script src="/scripts/<%= path %>" defer></script>

    <% })}} %>

    </main>

</body>

</html>
