<% if (typeof _endpoints_ !== 'undefined' && _endpoints_?.length) {
  const endpoints = _endpoints_.map(([namespace, target]) => `${namespace}.${target}`)

  if (endpoints.length) { %>
    <meta name="functionsExecution" content="<%= endpoints %>">
  <% }
} %>
</main>

</body>

</html>
