<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carstats - <%= _pageTitle_ %></title>
    <link rel="icon" type="image/png" sizes="512x512" href="/images/logo.png">
    
    <% if (typeof _staticFiles_ !== 'undefined') {
        if (_staticFiles_.styles?.length) {
        _staticFiles_.styles.forEach(path => { %>
            <link rel="stylesheet" href="/styles/<%= path %>">
        <% })} %>
        <% if (_staticFiles_.scripts?.length) {
        _staticFiles_.scripts.forEach(path => { %>
            <script src="/scripts/<%= path %>" type="module" defer></script>
        <% })}
    } %>
</head>
<% if (typeof _useAppMenu_ !== 'undefined') { %>
    <header id="main-menu">
        <nav>
            <a href="app/map">map</a>
            <a href="app/statistics">stats</a>
            <a href="app/profile">profile</a>
            <a href="app/settings">settings</a>
        </nav>
    </header>
<% } %>
<body id="<%= _pageIdentifier_ %>">
