</main>

<footer>
  <% if (typeof _endpoints_ !=='undefined' && _endpoints_.length) { const endpoints=_endpoints_.forEach(([namespace,
    target])=> { %>
    <script src="<%= `/scripts/${namespace}.js` %>" onload="<%= namespace %>.<%= target %>()" type="module"
      defer></script>
    <% })} %>
</footer>
</body>

</html>
