<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page vitrine</title>
</head>

<body>
    <mark>site vitrine</mark>
    <a href="auth/sign-up">Here to subscribe</a>
    <a href="auth/sign-in">Here to connect</a>
</body>

</html>
