<%- include('components/header.ejs', { _pageTitle_: 'Home' , _pageIdentifier_: 'page-home' }) %>

    <nav class="nav">
        <div class="container">
            <a class="logo" href="/">
                <img src="assets/icon-512x512.png" alt="">
                Carstats
            </a>
            <a class="btn" href="/auth/sign-in">Sign in</a>
        </div>
    </nav>

    <section class="hero">
        <div class="container">
            <span>Carstats</span>
            <h1>The new driving experience!</h1>
            <p>We offer our users the possibility to travel with their friends while enjoying the ride.</p>
            <a class="btn hero-btn">Install the app</a>
        </div>
    </section>

    <!-- <h1>Home</h1> -->

    <!-- <ul>
        <li><a href="/auth/sign-up">Sign up</a></li>
        <li><a href="/auth/sign-in">Sign in</a></li>
        <li><a href="/auth/forgot-password">Forgot password</a></li>
        <li><a href="/auth/reset-password">Reset password</a></li>
        <li><a href="/app/map">Map</a></li>
        <li><a href="/app/settings">Settings</a></li>
        <li><a href="/app/driving">Driving</a></li>
    </ul> -->

    <%- include('components/footer.ejs') %>
