<%- include('components/header.ejs', {
        _pageIdentifier_: 'page-index',
        _staticFiles_: {
            styles: [
                'style.css'
            ],
            scripts: [
                // 'script.js'
            ]
        }
    }) %>

    <p>Welcome Home</p>
    <a href="auth/sign-in">Here to subscribe</a>

    <%- include('components/footer.ejs') %>
