<%- include('components/header.ejs', {
    _pageTitle_: 'Home',
    _pageIdentifier_: 'page-home'
}) %>

    <h1>Home</h1>

    <ul>
        <li><a href="/auth/sign-up">Sign up</a></li>
        <li><a href="/auth/sign-in">Sign in</a></li>
        <li><a href="/auth/forgot-password">Forgot password</a></li>
        <li><a href="/auth/reset-password">Reset password</a></li>
        <li><a href="/app/profile">Profile</a></li>
    </ul>

<%- include('components/footer.ejs') %>
