<%- include('../components/header.ejs', { _useAppMenu_: true, _pageTitle_: 'Map' , _pageIdentifier_: 'page-map' }) %>

  <section class="bloc-full bloc-full-map">

    <div id="map"></div>

    <div id="map-data">
      <div>
        <div class="map-data-info">
          <div>
            <p id="map-data-duration"></p>
            <p id="map-data-distance"></p>
          </div>
          <div>
            <p id="map-data-time"></p>
            <p>Arrival</p>
          </div>
        </div>
        <p id="map-data-origin">From <span></span></p>
        <p id="map-data-destination">To <span></span></p>
        <button id="map-data-start" class="btn">Start travel</button>
      </div>
    </div>

    <div id="map-step">
      <div class="map-step-content">
        <div id="map-step-icon"></div>
        <div class="map-step-info">
          <p id="map-step-distance"></p>
          <p id="map-step-time"></p>
          <p id="map-step-instruction"></p>
        </div>
      </div>
    </div>

    <p id="map-error"></p>

    <div class="speedometer">
      <p id="speedometer-value" data-speedUnit="km/h">0</p>
    </div>

    <div class="legal-speed"></div>

  </section>

  <div id="page-modal">
    <div class="container">
      <div class="modal-content"></div>
    </div>
  </div>

  <%- include('../components/footer.ejs', { _endpoints_: [ ['app', 'map' ] ] }) %>