<%- include('../components/header.ejs', {
    _pageTitle_: 'Map',
    _pageIdentifier_: 'page-map',
    _useAppMenu_: true
}) %>

    <section class="bloc-full">

        <div id="map"></div>

    </section>

    <%- include('../components/footer.ejs', {
        _staticFiles_: {
            scripts: [
                'app/barbaRouter.js',
                'app/map.js'
            ]
        }
    }) %>
