<%- include('../components/header.ejs', {
    _pageTitle_: 'Map',
    _pageIdentifier_: 'page-map',
    _staticFiles_: {
        styles: [
            'index.css'
        ],
        scripts: [
            'app/map.js',
        ]
    },
    _useAppMenu_: true
}) %>

    <section class="bloc-full">

        <div id="map"></div>

    </section>

    <%- include('../components/footer.ejs') %>
