<%- include('../components/header.ejs', { _useAppMenu_: true, _pageTitle_: 'Map' , _pageIdentifier_: 'page-map' }) %>

  <section class="bloc-full">
    <div id="mylog"></div>
    <div id="map"></div>
    <div class="map-error"></div>
    <div class="map container">
      <p class="map-distance"></p>
      <p class="map-duration"></p>
      <div class="map-step">
        <p class="map-step-distance"></p>
        <p class="map-step-instruction"></p>
      </div>
    </div>
    <div class="map-recap">
      <div>
        <div class="map-recap-info">
          <p class="map-recap-time">10 min <span>(2.4 km)</span></p>
          <p class="map-recap-arrival">23:12 <span>Arrival</span></p>
        </div>
        <p class="map-recap-from"><span>From</span> Gramarcy Park, New York</p>
        <p class="map-recap-to"><span>To</span> Rockefeller Center 45, New York</p>
        <button class="btn">Start travel</button>
      </div>
    </div>
    <div class="speedometer">
      <p id="speedometer-value" data-speedUnit="km/h">0</p>
    </div>
    <div class="legal-speed"></div>
  </section>

  <%- include('../components/footer.ejs', { _endpoints_: [ ['app', 'map' ] ] }) %>