<%- include('../components/header.ejs', {
    _pageTitle_: 'Map',
    _pageIdentifier_: 'page-map',
    _staticFiles_: {
        styles: [
            'index.css'
        ]
    }
}) %>

    <h1>Map</h1>

    <%- include('../components/footer.ejs') %>