<%- include('../components/header.ejs', { _useAppMenu_: true, _pageTitle_: 'Map' , _pageIdentifier_: 'page-map' }) %>

  <section class="bloc-full">
    <div id="mylog"></div>
    <div id="map"></div>
    <div class="map-error"></div>
    <div class="map container">
      <div class="map-step">
        <div class="map-step-icon"></div>
        <div class="map-step-info">
          <p class="map-step-distance"></p>
          <p class="map-step-time"></p>
          <p class="map-step-instruction"></p>
        </div>
      </div>
    </div>
    <div class="map-recap">
      <div>
        <div class="map-recap-info">
          <div>
            <p class="map-recap-duration"></p>
            <p class="map-recap-distance"></p>
          </div>
          <div>
            <p class="map-recap-time"></p>
            <p>Arrival</p>
          </div>
        </div>
        <p class="map-recap-from">From <span></span></p>
        <p class="map-recap-to">To <span></span></p>
        <button class="btn">Start travel</button>
      </div>
    </div>
    <div class="speedometer">
      <p id="speedometer-value" data-speedUnit="km/h">0</p>
    </div>
    <div class="legal-speed"></div>
  </section>

  <%- include('../components/footer.ejs', { _endpoints_: [ ['app', 'map' ] ] }) %>