<%- include('../components/header.ejs', {
    _pageTitle_: 'Map',
    _pageIdentifier_: 'page-map'
}) %>

    <section class="bloc-full">
        <div id="mylog"></div>
        <div id="map"></div>

    </section>
    
    <%- include('../components/footer.ejs', {
        _useAppMenu_: true,
        _staticFiles_: {
            scripts: [
                'app/map.js'
            ]
        }
    }) %>
