<%- include('../components/header.ejs', { _useAppMenu_: true, _pageTitle_: 'Map' , _pageIdentifier_: 'page-map' }) %>

  <section class="bloc-full bloc-full-map">

    <div id="map"></div>

    <div id="map-data">
      <div>
        <div class="map-data-info">
          <div>
            <p id="map-data-duration"></p>
            <p id="map-data-distance"></p>
          </div>
          <div>
            <p id="map-data-time"></p>
            <p>Arrival</p>
          </div>
        </div>
        <p id="map-data-origin">From <span></span></p>
        <p id="map-data-destination">To <span></span></p>
        <button id="map-data-start" class="btn">Start travel</button>
      </div>
    </div>

    <div id="map-step">
      <div class="map-step-content">
        <div id="map-step-icon"></div>
        <div class="map-step-info">
          <p id="map-step-distance"></p>
          <p id="map-step-time"></p>
          <p id="map-step-instruction"></p>
        </div>
      </div>
    </div>

    <p id="map-error"></p>

    <div class="speedometer">
      <p id="speedometer-value" data-speedUnit="km/h">0</p>
    </div>

    <div class="legal-speed"></div>

  </section>

  <div id="page-modal">
    <div class="container">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-friend">
    <div class="modal-content">
      <div id="modal-friend-close" class="modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="269.255" height="269.255" viewBox="0 0 269.255 269.255">
          <path id="close-outline" d="M368,368,144,144m224,0L144,368" transform="translate(-121.373 -121.373)" fill="none" stroke="#32373e" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
        </svg>        
      </div>
      <div>
        <div class="modal-title">
          <p id="modal-friend-name"></p>
          <p id="modal-friend-distance"></p>
        </div>
        <div class="modal-btns">
          <button class="btn btn-primary">Add a friend</button>
          <button id="modal-friend-join" class="btn btn-primary">Join</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-alert">
    <div class="modal-content">
      <div id="modal-alert-close" class="modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="269.255" height="269.255" viewBox="0 0 269.255 269.255">
          <path id="close-outline" d="M368,368,144,144m224,0L144,368" transform="translate(-121.373 -121.373)" fill="none" stroke="#32373e" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
        </svg>        
      </div>
      <div class="modal-title">
        <span id="modal-alert-icon"></span>
        <p id="modal-alert-type"></p>
      </div>
      <p id="modal-alert-distance"></p>
      <p id="modal-alert-location"></p>
    </div>
  </div>

  <%- include('../components/footer.ejs', { _endpoints_: [ ['app', 'map' ] ] }) %>