<%- include('../components/header.ejs', {
    _pageTitle_: 'Profile',
    _pageIdentifier_: 'page-profile',
    _useAppMenu_: true
}) %>

    <section class="auth bloc-default">
        <div class="container">

            <h1>Hello <%= username %>!</h1>

            <h2>Personal statistics</h2>
            <div>
                <img src="" alt="">
                <p>Vitesse maximum</p>
                <p>180 km/h</p>
            </div>
            <div>
                <img src="" alt="">
                <p>Vitesse maximum</p>
                <p>180 km/h</p>
            </div>

            <h2>Latest travels</h2>

        </div>
    </section>

    <%- include('../components/footer.ejs', {
        _staticFiles_: {
            scripts: [
                'app/barbaRouter.js'
            ]
        }
    }) %>