<%- include('../components/header.ejs', {
    _pageTitle_: 'Profile',
    _pageIdentifier_: 'page-profile',
    _staticFiles_: {
        styles: [
            'index.css'
        ],
        scripts: [
            'app/profile.js'
        ]
    }
}) %>

    <p>Welcome <%= username %>, you're connected!</p>
    <button id="disconnect">Log out</button>

    <%- include('components/menu.ejs') %>

    <%- include('../components/footer.ejs') %>