<%- include('../components/header.ejs', {
    _pageTitle_: 'Settings',
    _pageIdentifier_: 'page-settings',
    _staticFiles_: {
        styles: [
            'index.css'
        ]
    },
    _useAppMenu_: true
}) %>

    <h1>Settings</h1>

    <%- include('../components/footer.ejs') %>
