<%- include('../components/header.ejs', {
    _pageTitle_: 'Settings',
    _pageIdentifier_: 'page-settings'
}) %>

    <section class="bloc-default">
        <div class="container">

            <h1>Settings</h1>

            <button id="disconnect" class="btn">Log out</button>

        </div>
    </section>

    <%- include('../components/footer.ejs', {
        _useAppMenu_: true,
        _staticFiles_: {
            scripts: [
                'app/settings.js'
            ]
        }
    }) %>
