<%- include('../components/header.ejs', {
    _pageTitle_: 'Statistics',
    _pageIdentifier_: 'page-statistics',
    _staticFiles_: {
        styles: [
            'index.css'
        ]
    },
    _useAppMenu_: true
}) %>

    <h1>Statistics</h1>

    <%- include('../components/footer.ejs') %>
