<%- include('../components/header.ejs', {
    _pageTitle_: 'Statistics',
    _pageIdentifier_: 'page-statistics'
}) %>

    <section class="bloc-default">
        <div class="container">

            <h1>Statistics</h1>

        </div>
    </section>

    <%- include('../components/footer.ejs', {
        _useAppMenu_: true,
        _staticFiles_: {
            scripts: [
                'app/statistics.js'
            ]
        }
    }) %>
