<%- include('../components/header.ejs', { _pageTitle_: 'Forgot password' , _pageIdentifier_: 'page-forgotPassword' }) %>

<%- include('../components/nav.ejs') %>

  <section class="auth bloc-full">
    <div class="container">

      <h1>Forgot password</h1>

      <div class="msg"></div>

      <form id="forgotPassword">
        <label for="email">Email adress</label>
        <input type="email" name="email" id="email" placeholder="Enter your email adress" required>

        <button class="btn" type="submit">Send reset password email</button>
      </form>

    </div>
  </section>

  <%- include('../components/footer.ejs', { _endpoints_: [ ['auth', 'forgotPassword' ] ] }) %>