<%- include('../components/header.ejs', { _pageTitle_: 'Sign in' , _pageIdentifier_: 'page-signIn' }) %>

<%- include('../components/nav.ejs') %>

  <section class="auth bloc-full">
    <div class="container">

      <h1>Sign in</h1>

      <div class="msg"></div>

      <form id="signIn">
        <label for="username">Email adress or username</label>
        <input type="text" name="username" id="username" placeholder="Enter your email adress or username" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>

        <button class="btn" type="submit">Sign in</button>
      </form>

      <p>Not registered? <a href="./sign-up">Sign up</a></p>
      <p>Forgotten password? <a href="./forgot-password">Retrieve-it</a></p>

    </div>
  </section>

  <%- include('../components/footer.ejs', { _endpoints_: [ ['auth', 'signIn' ] ] }) %>