<%- include('../components/header.ejs', { _pageTitle_: 'Reset password' , _pageIdentifier_: 'page-resetPassword' }) %>

<%- include('../components/nav.ejs') %>

  <section class="auth bloc-full">
    <div class="container">

      <h1>Reset password</h1>

      <div class="msg"></div>

      <form id="resetPassword">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required minlength="6">

        <label for="passwordConfirm">Password confirmation</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Enter your password again"
          required minlength="6">

        <button class="btn" type="submit">Reset password</button>
      </form>

    </div>
  </section>

  <%- include('../components/footer.ejs', { _endpoints_: [ ['auth', 'resetPassword' ] ] }) %>