@import "mapbox-gl/dist/mapbox-gl.css";

#map {
  width: 100%;
  height: 100%;

  * {
    outline: none;
  }
}

.speedometer {
  position: fixed;
  bottom: 4.5rem;
  background: $c-white;
  aspect-ratio: 1;
  width: 4em;
  z-index: 3;
  height: 4em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid $c-gray;
  color: $c-darkGray;
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    &::after {
      content: attr(data-speedUnit);
      display: block;
      font-size: 0.7rem;
      font-weight: 400;
    }
  }
}

.marker {
  background: #f22e2e;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 3px solid $c-white;
  cursor: pointer;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 0;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapbox-directions-origin,
.directions-icon {
  display: none;
}

.mapboxgl-ctrl-geocoder .geocoder-pin-right {
  z-index: 2;
  position: absolute;
  top: 0.9rem;
  right: 1rem;
}

.mapboxgl-ctrl-geocoder .geocoder-pin-right * {
  display: none;
}

.mapboxgl-ctrl-geocoder .geocoder-pin-right *.active {
  display: block;
}

.mapboxgl-ctrl-group {
  border-radius: 50%;
}

.geocoder-icon-close {
  cursor: pointer;
  background: $c-white;
  border: none;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgdmVyc2lvbj0iMS4xIiBoZWlnaHQ9IjIwIiB3aWR0aD0iMjAiPg0KICA8cGF0aCBkPSJtNSA1IDAgMS41IDMuNSAzLjUtMy41IDMuNSAwIDEuNSAxLjUgMCAzLjUtMy41IDMuNSAzLjUgMS41IDAgMC0xLjUtMy41LTMuNSAzLjUtMy41IDAtMS41LTEuNSAwLTMuNSAzLjUtMy41LTMuNS0xLjUgMHoiIGZpbGw9IiMwMDAiLz4NCjwvc3ZnPg==);
  background-repeat: no-repeat;
}

.mapboxgl-ctrl-top-left {
  width: 90vw;
  max-width: 500px;
  margin: 1.5em auto 0;
  position: relative;
  z-index: 2;
}

.mapboxgl-ctrl-directions {
  width: 100%;
}

.mapboxgl-ctrl-geocoder input[type="text"] {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid $c-white;

  &::placeholder {
    color: $c-darkGray;
    font-family: $f-text;
  }
}

.suggestions {
  background: $c-white;
  border-radius: 6px;
  margin-top: 5px;
  color: $c-bg;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
}

.suggestions li {
  cursor: pointer;
  padding: 0.5rem;
  transition: background 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:not(:last-of-type) {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $c-gray;
  }

  &:not(:first-of-type) {
    padding-top: 0.5rem;
  }

  &:first-of-type {
    padding-top: 0.5rem;
  }

  &:last-of-type {
    padding-bottom: 0.5rem;
  }

  &:hover {
    background: $c-gray;
    border-radius: 6px;
  }

  a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.mapbox-directions-route-summary {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 0.5rem;
  h1,
  span {
    font-size: 0.7rem;
    font-family: $f-title;
    font-weight: 400;
    background: $c-bg;
    padding: 1rem;
    border-radius: 6px;
  }
}

.map {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &-distance,
  &-duration {
    display: inline-block;
    background: $c-bg;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }
  &-distance {
    margin-right: 1rem;
  }
  &-step {
    background: $c-bg;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    &-distance {
      font-size: 1.6rem;
      font-family: $f-title;
      margin-bottom: 0.25rem;
    }
    &-instruction {
      font-size: 0.9rem;
    }
  }
}

.map-error {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background: #f22e2e;
  color: #fff;
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9rem;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
